# User-specific files
*.suo

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.opendb
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files built by Visual Studio
*.idb
*.ilk
*.log
*.pdb
*.tlog

# Visual C++ cache files
ipch/
*.VC.db
.vs/
CppProperties.json
Risk/Debug/
Risk/x64/